input[type="file"] {
    display: block;
  }

  .wrapper-files{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    position: absolute;
    height: 50px;
    width: 111px;
    top: 145px;
    border-radius: 10px 0px 0px 10px;
}