/* Style APP WALI */
.header.tugas-ujian.active:after{
    opacity: 0;
  }
  
  .card.anak-wali{
    width: 50%; background-image:url(../images/bg-anak-wali.png); 
    background-repeat: no-repeat; background-size: cover; background-position: center;
  }
  
  .avatar.anak-wali{
    background-repeat: no-repeat; background-size: cover; background-position: center;
  }
  
  .tab-wali {
    color: #303030;
  }
  
  .tab-wali button {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #303030;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #EC3528;
    font-weight: 600;
  }
  
  .tab-wali button.active {
    border-bottom: 5px solid #FFFFFF;
    color: #FFFFFF;
  }
  
  .tabcontent-wali {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
  
  .tablinknya-tugas-ujian{
    position: absolute; 
    width: 100vw;
    background-color: #EC3528;
  }
  
  .progress-bar{
    border-radius: 20px;
  }
  
  i.fa-solid.fa-circle.nilai{
    color: #EC3528;
  }
  
  h6.title.tugas{
    color: #00DFA3;
  }
  
  i.fa-light.fa-circle.tugas{
    color: #00DFA3;
  }
  
  h6.title.tugas-telat{
    color: #EC3528;
  }
  
  i.fa-light.fa-xmark.tugas-telat{
    color: #EC3528;
  }
  
  .modal .modal-dialog .modal-content.detail-tugas-ujian{
    border-radius: 0px;
  }
  
  .page-scroll{
    margin:5px;
    padding:5px;
    height: 100%;
    overflow: auto;
    text-align:justify;
  }
  
  .page-scroll-full{
    height: 100%;
    overflow: auto;
    text-align:justify;
  }
  
  button.filter-tugas{
    width: 100vw; 
    height: 100%;
    border-radius: 10px; 
    background-color: #E5E5E5;
  }
  
  a.btn-filter{
    width: 100%;
    background-color: #EC3528;
    border-radius: 8px;
    color: #FFFFFF;
    height: 45px;
    padding-top: 10px;
  }
  
  .nilai-tugas{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 45px;
    width: 45px;
    border: 1px solid #00DFA3;
    color: #00DFA3;
  }
  
  .wrapper-samaran{
    background-color: #FFFFFF;
    height: 20px;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: -20px;
  }
  
  .wrapper-searching-tugas{
    height: 50px;
    position: fixed;
    z-index: 1;
    width: 94%;
    background-color: #FFFFFF;
  }
  
  .card-body.detail-ujian{
    height: 90px;
  }
  
  .sidebar{
    background-image: url(../images/bg-sidebar.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sidebar-wrap.sidebar-overlay .sidebar {
    width: 280px;
    left: -280px;
    background-color: #EC3528;
    z-index: 1;
  }